body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background:url(galaxy.jpg) no-repeat center/cover;
    overflow: hidden;
    margin: 0;
    overflow:hidden;
}

/* body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    z-index: -1;
    animation: twinkling 5s infinite alternate;
} */

.solar-system {
    position: absolute;
    width: 800px;
    height: 800px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.sun {
    position: absolute;
    width: 300px;
    height: 300px;
    background: url(sun.png)no-repeat center/cover;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:20px 20px 100px rgba(255, 255, 0, 0.8),-20px -20px 100px rgba(255, 255, 0, 0.8);
    animation: rotate-sun 25s linear infinite;
}

.orbit {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: orbit linear infinite;
}

.planet {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    animation: rotate-planet 24s linear infinite;

}

.mercury {
    width: 750px;
    height: 750px;
    animation-duration: 12s;
}

.mercury-planet {
    width: 45px;
    height: 45px;
    background: url(mercury.jpg) no-repeat center/cover;
    animation: rotate-planet 10s linear infinite;
    margin: 10px;
}

.venus {
    width: 900px;
    height: 900px;
    animation-duration: 30.4s;
}

.venus-planet {
    width: 56px;
    height: 56px;
    background: url(venus.jpg) no-repeat center/cover;
    animation: rotate-planet 15s linear infinite;
}

.earth {
    width: 550px;
    height: 550px;
    animation-duration: 48s;
    
}

.earth-planet {
    width: 66px;
    height: 66px;
    background: url(earth.jpg)no-repeat center/cover;
    animation: rotate-planet 20s linear infinite;
}

.mars {
    width: 710px;
    height: 710px;
    animation-duration: 90.4s;
}

.mars-planet {
    width: 46px;
    height: 46px;
    background: url(mars.jpg) no-repeat center/cover;
    animation: rotate-planet 25s linear infinite;
}

.jupiter {
    width: 850px;
    height: 850px;
    animation-duration: 155.2s;
}

.jupiter-planet {
    width: 120px;
    height: 120px;
    background: url(jupitar.jpg) no-repeat center/cover;
    animation: rotate-planet 35s linear infinite;
}

.saturn {
    width: 1050px;
    height: 1050px;
    animation-duration: 250s;
}

.saturn-planet {
    width: 53px;
    height: 53px;
    background: url(saturns.jpg) no-repeat center/cover;
    animation: rotate-planet 40s linear infinite;
}

.saturn-ring {
    width: 105px;
    height: 105px;
}

.uranus {
    width: 1250px;
    height: 1250px;
    animation-duration: 350s;
}

.uranus-planet {
    width: 90px;
    height: 90px;
    background: url(uranus.jpg) no-repeat center/cover;
    animation: rotate-planet 45s linear infinite;
}

.neptune {
    width: 1500px;
    height: 1500px;
    animation-duration: 450s;
}

.neptune-planet {
    width: 77px;
    height: 77px;
    background: url(neptune.jpg) no-repeat center/cover;
    animation: rotate-planet 50s linear infinite;
}

.ring {
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    /* White faded rings */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(75deg);
}

.ring1 {
    width: 70px;
    height: 30px;
    border-width: 3px;
    opacity: 0.9;
}

.ring2 {
    width: 80px;
    height: 34px;
    border-width: 2.5px;
    opacity: 0.8;
}

.ring3 {
    width: 90px;
    height: 38px;
    border-width: 2px;
    opacity: 0.7;
}

.ring4 {
    width: 100px;
    height: 42px;
    border-width: 1.8px;
    opacity: 0.6;
}

.ring5 {
    width: 110px;
    height: 46px;
    border-width: 1.5px;
    opacity: 0.5;
}

.ring6 {
    width: 120px;
    height: 50px;
    border-width: 1.3px;
    opacity: 0.4;
}

.ring7 {
    width: 130px;
    height: 54px;
    border-width: 1px;
    opacity: 0.3;
}

.uranus .ring {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(75deg);
}

/* Dark gray, reddish, and faint rings for Uranus */
.uranus .ring1 {
    width: 75px;
    height: 35px;
    border-width: 3px;
    border-color: rgba(105, 105, 105, 0.8); /* Dark gray with some opacity */
    opacity: 0.9;
}

.uranus .ring2 {
    width: 85px;
    height: 39px;
    border-width: 2.5px;
    border-color: rgba(139, 69, 19, 0.8); /* Reddish color with some opacity */
    opacity: 0.8;
}

.uranus .ring3 {
    width: 95px;
    height: 43px;
    border-width: 2px;
    border-color: rgba(169, 169, 169, 0.7); /* Light gray with a hint of opacity */
    opacity: 0.7;
}

.uranus .ring4 {
    width: 105px;
    height: 47px;
    border-width: 1.8px;
    border-color: rgba(128, 128, 128, 0.6); /* Slightly darker gray */
    opacity: 0.6;
}

.uranus .ring5 {
    width: 115px;
    height: 51px;
    border-width: 1.5px;
    border-color: rgba(139, 0, 0, 0.5); /* Faint reddish */
    opacity: 0.5;
}

.uranus .ring6 {
    width: 125px;
    height: 55px;
    border-width: 1.3px;
    border-color: rgba(169, 169, 169, 0.4); /* Light gray */
    opacity: 0.4;
}

.uranus .ring7 {
    width: 135px;
    height: 59px;
    border-width: 1px;
    border-color: rgba(105, 105, 105, 0.3); /* Dark gray with very faint opacity */
    opacity: 0.3;
}

/* Default moon style */
.moon {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    margin: 11px;
    gap:10px;
}

.venus-moon{
    width: 8px;
    height: 6px;
    background:url(venus\ zoozve.jpg) no-repeat center/cover;
    top: 24px;
    left: 24px;
    animation: orbit-moon 8s linear infinite;
}
.earth-moon{
    width: 12px;
    height: 12px;
    background:url(earthmoon.jpg)no-repeat center/cover;
    top: 28px;
    left: 28px;
    animation: orbit-moon 18s linear infinite;
}
.mars-moon1{
    width: 10px;
    height: 10px;
    background:url(mars\ phobos.jpg) no-repeat center/cover;
    top: 21px;
    left: 21px;
    margin:10px;
    margin-left: -30px;
    animation: orbit-moon 12s linear infinite;
}
.mars-moon2{
    width: 7px;
    height:7px;
    background:url(mars\ deimos.jpg) no-repeat center/cover;
    top: 20px;
    left: 30px;
    animation: orbit-moon 14s linear infinite;
}
.jupiter-moon1{
    width: 16px;
    height: 16px;
    background:url(jupiter\ ganymed.jpg)no-repeat center/cover;
    top: 50px;
    left: 50px;
    animation: orbit-moon 30s linear infinite;
}

.jupiter-moon2{
    width: 14px;
    height: 14px;
    background:url(jupiter\ callisto.jpg) no-repeat center/cover;
    top: 60px;
    left: 60px;
    animation: orbit-moon 34s linear infinite;
    margin-left: -40px;
}
.jupiter-moon3{
    width: 11px;
    height: 11px;
    background:url(jupiter\ europe.jpg) no-repeat center/cover;
    top: 50px;
    left: 50px;
    animation: orbit-moon 22s linear infinite;
    margin-left:-50px;
}
.jupiter-moon4{
    width: 11px;
    height: 11px;
    background:url(jupiter\ io.jpg) no-repeat center/cover;
    top: -30px;
    left: -10px;
    animation: orbit-moon 22s linear infinite;
}

.saturn-moon1{
    width: 14px;
    height: 14px;
    background:url(saturn\ titan.jpg) no-repeat center/cover;
    top: 50px;
    left: 39px;
    animation: orbit-moon 8s linear infinite;
}
.saturn-moon3{
    width: 10px;
    height: 10px;
    background:url(saturn\ enceladus.jpg);
    top: 45px;
    left: 45px;
    animation: orbit-moon 18s linear infinite;
    margin-left: -40px;
}
.uranus-moon1{
    width: 8px;
    height: 8px;
    background:url(uranus.jpg) no-repeat center/cover;
    top: 30px;
    left: 60px;
    animation: orbit-moon 30s linear infinite;
}
.neptune-moon1{
    width: 9px;
    height: 9px;
    background:url(neptune\ triton.jpg) no-repeat center/cover;
    top: 35px;
    right: -30px;
    animation: orbit-moon 32s linear infinite;
}
.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    color: white;
}




/* Moons Orbit Animation */
@keyframes orbit-moon {
    from {
        transform: rotate(0deg) translateX(50%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(50%) rotate(-360deg);
    }
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(50%) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(50%) rotate(-360deg);
    }
}

@keyframes rotate-sun {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-planet {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes twinkling {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveStars {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 1000px;
    }
}
body{
    background: url("galaxy.jpg");
    animation: moveStars 50s linear infinite;
}
@media (max-width:768px){
    .solar-system{
        width:400px;
        height:400px;
    }
    .sun{
        width:60px;
        height:60px;
    }
}




